{{ header }}
<div id="content">
	<div class="page-header">
		<div class="container">
			<h1>{{ heading_title }}</h1>
		</div>
	</div>
	<div class="container">
		{% if error_warning %}
			<div class="alert alert-danger"><i class="fa-solid fa-circle-exclamation"></i> {{ error_warning }}</div>
		{% endif %}
		<div class="card">
			<div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_step_4 }}</div>
				<div class="card-body">
					<form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
						<p>{{ text_db_connection }}</p>
						<fieldset>
							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">{{ entry_country }}</label>
								<div class="col-sm-10">
									<div id="countries" class="form-control" style="height: 250px; overflow: auto;">
										<table class="table table-borderless table-striped">
											<thead>
											<tr>
												<td class="w-50"></td>
												<td class="text-center">{{ help_country }}</label></td>
											</tr>
											</thead>
											<tbody>
											<tr>
												<td><strong>{{ text_select_all }}</strong></td>
												<td class="text-center"><input type="checkbox" id="input-permission-access" class="form-check-input" onchange="$('#countries input[name^=\'country[]\']').prop('checked', $(this).prop('checked'));"/></td>
											</tr>
											{% for item in countries %}
												<tr>
													<td><label>{{ item.name }}</label></td>
													<td class="text-center"><input type="checkbox" name="country[]" value="{{ item.country_id }}" class="form-check-input"{% if item.country_id in country %} checked="checked"{% endif %}/></td>
												</tr>
											{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</fieldset>

						<div class="row mt-3">
							<div class="col"><a href="{{ back }}" class="btn btn-light">{{ button_back }}</a></div>
							<div class="col text-end"><input type="submit" value="{{ button_continue }}" class="btn btn-primary"/></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript"><!--
	$('table tbody label').on('click', function () {
		var checked = $(this).parent().parent().find(':checkbox:first').prop('checked');

		$(this).parent().parent().find(':checkbox').prop('checked', !checked);
		$(this).parent().parent().find(':checkbox').prop('checked', !checked);
	});
	//--></script>
</div>
{{ footer }}
